<h3>Columns for {{name}}</h3>
<table class="full-width">
  <thead>
  <tr>
    <th>name</th>
    <th>type</th>
  </tr>
  </thead>
  <tbody>
  {{#each attributes itemController='admin/model/model-attribute'}}
    <tr>
      <td>
        {{key}}
      </td>
      <td>
        {{#if isRelationship}}
          {{#link-to 'admin.model.model' type}}{{type}}{{/link-to}}
          <small>
            ({{#if isArray}}has many{{else}}belongs to{{/if}})
          </small>
        {{else}}
          {{type}}
        {{/if}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
