{{#if isEditing}}
  <div class="row collapse">
    <div class="small-10 columns">
      {{view Ember.Select
      content=choices
      optionValuePath="content.id"
      optionLabelPath="content.label"
      selection=selected
      prompt='-- N/A --'}}
    </div>
    <div class="small-2 columns">
      <button class="tiny" {{action 'editSave' bubbles=false}}>
        <i class="fi-save"></i>
      </button>
    </div>
  </div>
{{else}}
  {{#if value.recordLabel}}
    {{value.recordLabel}}
  {{else}}
    {{value.id}}
  {{/if}}
{{/if}}
