<div class="row">

  <div class="small-12 columns">
    {{google-map lat=lat lng=lng type=type zoom=zoom markers=markers}}

    <div>
      <label>Lat: {{input value=lat}}</label>
      <label>Lng: {{input value=lng}}</label>
      <label>Zoom: {{input value=zoom}}</label>
      <label>Type: {{input value=type}}</label>
    </div>
  </div>
</div>
