{{google-map lat=lat lng=lng type=type zoom=zoom}}
<div>
  <label>Lat: {{input value=lat}}</label>
  <label>Lng: {{input value=lng}}</label>
  <label>Zoom: {{input value=zoom}}</label>
  <label>Type: {{input value=type}}</label>
</div>
